.content {
    display: flex;
    padding: 10px;
}

.match-text {
    margin-bottom: 0;
    color: black;
    font-weight: 600;
}

.card {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f9f9f9;
}

.match-info {
    display: flex;
    justify-content: space-evenly;
    background-color: ALICEBLUE;
    padding: 10px;
}

.p-sin-margen-600 {
    margin-bottom: 0;
    font-weight: 600;
    margin: auto;
}

.boton-jugar {
    background-color: $colorPrimarioBoton;
    color: black;
    font-weight: 600;
    border-radius: 4px;
    border: 2px solid $colorSecundarioBoton;
    display: flex;
    justify-content: center;
    padding-left: 45px;
    padding-right: 45px;
}

.boton-jugar:hover {
    text-decoration: none;
    color: black;
    background-color: $colorSecundarioBoton;
}

.error {
    display: flex;
    justify-content: center;
    color: red;
    font-weight: 700;
    font-size: xx-large;
}

.cargando {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 700;
    font-size: xx-large;
}

@media (min-width: 576px) {
    .boton-ver-partida {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: auto;
        margin-bottom: auto;
        height: 48px;
        width: 134.5px;
        top: 0;
        bottom: 0;
    }

    .boton-jugar {
        position: absolute;
        right: 10px;
        height: 48px;
    }
}

@media (min-width: 576px) {
    .boton-ver-partida {
        width: 134.5px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .boton-jugar {
        max-height: 48px;
        max-width: 134.5px;
    }
}

@media (max-width: 1920px) {
    .card {
        margin-left: 400px;
        margin-right: 400px;
    }
}

@media (max-width: 1400px) {
    .card {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (max-width: 992px) {
    .card {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 768px) {
    .card {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 575px) {
    .content {
        display: contents;
    }
    .card-padding {
        padding: 10px;
    }
    .boton-mobile {
        margin-top: 10px;
    }
    .match-info {
        flex-direction: column;
    }
}
