$colorPrimario: #37474f;
$colorSecundario: #1a2023;
$colorPrimarioBoton: #007bff;
$colorSecundarioBoton: #0062cc;

// $colorPrimarioBoton: #007bff;
// $colorSecundarioBoton: #0062cc;
// $colorPrimario: #007bff;
// $colorSecundario: #0062cc;
