.jugadas {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 0;
}

.jugada {
    margin-right: 25px;
    margin-left: 25px;
    font-weight: 700;
}

.resultado {
    display: flex;
    justify-content: center;
}

.pares-de-jugadas {
    background-color: #fbfbfb;
    padding: 10px;
    font-size: larger;
}

.ganador {
    font-weight: 700;
}

.button-pick {
    background-color: #007bff;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    transition: background-color ease 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
    border: 2px solid #0062cc;
}

.button-piedra {
    border-radius: 10px 0px 0px 10px;
}

.button-tijera {
    border-radius: 0px 10px 10px 0px;
}

.button-pick:hover {
    background-color: #0062cc;
    transition: background-color ease 0.3s;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.no-jugadas,
.no-turno {
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: 30px;
    font-weight: 600;
    font-size: x-large;
}

.resultado-final {
    margin-top: 50px;
    font-size: xx-large;
}

@media (max-width: 991px) {
    .resultado-final {
        display: grid;
    }
}

@media (max-width: 565px) {
    .resultado-final {
        font-size: larger;
    }
}
