.jugadas {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 0;
}

.jugada {
    margin-right: 25px;
    margin-left: 25px;
    font-weight: 700;
}

.resultado {
    display: flex;
    justify-content: center;
}

.pares-de-jugadas {
    background-color: #fbfbfb;
    padding: 10px;
    font-size: larger;
}

.ganador {
    font-weight: 700;
}

.button-pick {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    transition: background-color ease 0.3s;
    margin: 10px;
    font-weight: 600;
}

.button-pick:hover {
    background-color: #0062cc;
    transition: background-color ease 0.3s;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.no-jugadas, .no-turno {
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: 30px;
    font-weight: 600;
    font-size: x-large;
}

.resultado-final {
    margin-top: 50px;
    font-size: xx-large;
}

.match-info-second {
    display: contents;
}

@media (max-width: 991px) {
    .match-info-second {
        display: block;
    }
}

@media (max-width: 991px) {
    .resultado-final {
        display: grid;
    }
}