.center-div {
    width: 250px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;    
    position: fixed;
    z-index: 999;
}

.input-label {
    display: grid;
    font-weight: 600;
}

.input-style {
    outline-color: black;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fafbfc;
    width: 100%;
    padding: 3px 7px;
    margin-bottom: 5px;
}

.input-style:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.login-register-fail {
    color: red;
    font-weight: 600;
    margin-top: 7px;
}

.button {
    background-color: #007bff;
    border: 3px solid #0062cc;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 4px;
    width: 100%;
    transition: background-color ease 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

.button:hover {
    background-color: #0062cc;
    transition: background-color ease 0.3s;
}

.button:focus {
    outline: none;
}

.loading {
    width: 20px;
    height: 20px;
}

.create-match {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid grey;
}
