.content {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.match-text {
    margin-bottom: 0;
    color: black;
    font-weight: 600;
}

.card {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f9f9f9;
}